
<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://s7ap1.scene7.com/is/image/bigw/020323-DCComics(Warner%20Bros)-BrandHeroBanner-Mobile-828x560?$cms-max-image-threshold$&fmt=jpeg&wid=1178&fit=hfit%2C1" 
                alt=""
                height=""
                width=""
                srcset=""
            >
        </div>
        <div class="small-card__title">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr>
    </div>
</div>
